<ion-header >
    <ion-toolbar>
      <ion-title>
          <ion-row><ion-icon name="contacts" class="ion-margin-end"></ion-icon>Users</ion-row>
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
          List of users
        </ion-list-header> 
        <ion-item *ngFor="let user of users">
          <ion-grid>
            <ion-row>
              <p class="ion-margin-end"><ion-thumbnail item-start><ion-icon name="contact" class="ion-padding-top"></ion-icon></ion-thumbnail> {{user.username}}</p>
            </ion-row>
            <ion-row>
              <p class="ion-padding-top"><i>Inscription {{user.date | date: 'HH:mm dd/MM/yyyy'}}</i></p>
            </ion-row>
        </ion-grid>
        </ion-item>
      </ion-list>  

</ion-content>
<ion-footer>

</ion-footer>